.mediaViewInfo {
	--web-view-name: Web 1280 – 9;
	--web-view-id: Web_1280__9;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Web_1280__9;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Web_1280__9 {
	position: absolute;
	width: 1280px;
	height: 1583px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: Web 1280 – 9;
	--web-view-id: Web_1280__9;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
#Rectangle_13 {
	opacity: 0.09;
	fill: rgba(132,208,255,1);
}
.Rectangle_13 {
	position: absolute;
	overflow: visible;
	width: 1190px;
	height: 2179px;
	left: 47px;
	top: 756px;
}
#Path_1 {
	opacity: 0.201;
	fill: rgba(172,136,255,1);
}
.Path_1 {
	overflow: visible;
	position: absolute;
	width: 1239px;
	height: 188.338px;
	left: 20.5px;
	top: 23.73px;
	transform: matrix(1,0,0,1,0,0);
}
#WOMEN_IN_FITNESS_360 {
	left: 378px;
	top: 44px;
	position: absolute;
	overflow: visible;
	width: 525px;
	white-space: nowrap;
	text-align: center;
	font-family: Times New Roman;
	font-style: normal;
	font-weight: bold;
	font-size: 45px;
	color: rgba(0,0,0,1);
}
#Home_ {
	left: 575px;
	top: 94px;
	position: absolute;
	overflow: visible;
	width: 57px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Web_1280___5.html;
	cursor: pointer;
	text-align: center;
	font-family: Times New Roman;
	font-style: normal;
	font-weight: normal;
	font-size: 21px;
	color: rgba(0,0,0,1);
}
#Activity {
	left: 638px;
	top: 94px;
	position: absolute;
	overflow: visible;
	width: 69px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Web_1280___8.html;
	cursor: pointer;
	text-align: center;
	font-family: Times New Roman;
	font-style: normal;
	font-weight: normal;
	font-size: 21px;
	color: rgba(0,0,0,1);
}
#ID2006695-200_1 {
	position: absolute;
	width: 32px;
	height: 32px;
	left: 1143px;
	top: 109px;
	overflow: visible;
}
#Image_1 {
	position: absolute;
	width: 31px;
	height: 31px;
	left: 1188px;
	top: 109px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Web_1280___5.html;
	cursor: pointer;
}
#Your_Medication_and_Tests_reco {
	left: 374px;
	top: 141px;
	position: absolute;
	overflow: visible;
	width: 579px;
	white-space: nowrap;
	text-align: center;
	font-family: Times New Roman;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(0,0,0,1);
}
#ID7_Health_Tips_Every_Woman_Sh {
	left: 332px;
	top: 706px;
	position: absolute;
	overflow: visible;
	width: 544px;
	white-space: nowrap;
	text-align: left;
	font-family: Times New Roman;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(0,0,0,1);
}
#gettyimages-944553314-640x640 {
	position: absolute;
	width: 827px;
	height: 445px;
	left: 190px;
	top: 227px;
	overflow: visible;
}
#one {
	position: absolute;
	width: 997px;
	height: 770px;
	left: 142px;
	top: 756px;
	overflow: visible;
}