.mediaViewInfo {
	--web-view-name: Web 1280 – 2;
	--web-view-id: Web_1280__2;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Web_1280__2;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Web_1280__2 {
	position: absolute;
	width: 1280px;
	height: 800px;
	overflow: hidden;
	--web-view-name: Web 1280 – 2;
	--web-view-id: Web_1280__2;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
#women-only-gym {
	position: absolute;
	width: 1500px;
	height: 1000px;
	left: -159px;
	top: -53px;
	overflow: visible;
}
#Rectangle_6 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_6 {
	position: absolute;
	overflow: visible;
	width: 381px;
	height: 800px;
	left: 902px;
	top: 0px;
}
#Rectangle_7 {
	opacity: 0.236;
	fill: rgba(255,255,255,1);
}
.Rectangle_7 {
	position: absolute;
	overflow: visible;
	width: 919px;
	height: 800px;
	left: -17px;
	top: 0px;
}
#WOMEN_IN_FITNESS_360 {
	left: 378px;
	top: 44px;
	position: absolute;
	overflow: visible;
	width: 525px;
	white-space: nowrap;
	text-align: center;
	font-family: Times New Roman;
	font-style: normal;
	font-weight: bold;
	font-size: 45px;
	color: rgba(0,0,0,1);
}
#Home_ {
	left: 480px;
	top: 97px;
	position: absolute;
	overflow: visible;
	width: 57px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Web_1280___1.html;
	cursor: pointer;
	text-align: center;
	font-family: Times New Roman;
	font-style: normal;
	font-weight: normal;
	font-size: 21px;
	color: rgba(0,0,0,1);
}
#Shop {
	left: 549px;
	top: 97px;
	position: absolute;
	overflow: visible;
	width: 45px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Web_1280___4.html;
	cursor: pointer;
	text-align: center;
	font-family: Times New Roman;
	font-style: normal;
	font-weight: normal;
	font-size: 21px;
	color: rgba(0,0,0,1);
}
#Blogs {
	left: 604px;
	top: 97px;
	position: absolute;
	overflow: visible;
	width: 51px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Web_1280___1.html;
	cursor: pointer;
	text-align: center;
	font-family: Times New Roman;
	font-style: normal;
	font-weight: normal;
	font-size: 21px;
	color: rgba(0,0,0,1);
}
#About_ {
	left: 665px;
	top: 97px;
	position: absolute;
	overflow: visible;
	width: 59px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Web_1280___1.html;
	cursor: pointer;
	text-align: center;
	font-family: Times New Roman;
	font-style: normal;
	font-weight: normal;
	font-size: 21px;
	color: rgba(0,0,0,1);
}
#Sign_up {
	left: 1044px;
	top: 157px;
	position: absolute;
	overflow: visible;
	width: 99px;
	white-space: nowrap;
	text-align: center;
	font-family: Times New Roman;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(0,0,0,1);
}
#Full_Name {
	left: 942px;
	top: 239px;
	position: absolute;
	overflow: visible;
	width: 85px;
	white-space: nowrap;
	text-align: center;
	font-family: Times New Roman;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(0,0,0,1);
}
#Email {
	left: 942px;
	top: 329px;
	position: absolute;
	overflow: visible;
	width: 49px;
	white-space: nowrap;
	text-align: center;
	font-family: Times New Roman;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(0,0,0,1);
}
#Username_ {
	left: 940px;
	top: 419px;
	position: absolute;
	overflow: visible;
	width: 83px;
	white-space: nowrap;
	text-align: center;
	font-family: Times New Roman;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(0,0,0,1);
}
#Password_ {
	left: 946px;
	top: 532px;
	position: absolute;
	overflow: visible;
	width: 77px;
	white-space: nowrap;
	text-align: center;
	font-family: Times New Roman;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(0,0,0,1);
}
#Line_1 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_1 {
	overflow: visible;
	position: absolute;
	width: 268px;
	height: 1px;
	left: 946.5px;
	top: 292.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_2 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_2 {
	overflow: visible;
	position: absolute;
	width: 268px;
	height: 1px;
	left: 946.5px;
	top: 387.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_3 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_3 {
	overflow: visible;
	position: absolute;
	width: 268px;
	height: 1px;
	left: 946.5px;
	top: 495.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_4 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_4 {
	overflow: visible;
	position: absolute;
	width: 268px;
	height: 1px;
	left: 946px;
	top: 608.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_8 {
	fill: rgba(255,80,255,0.961);
}
.Rectangle_8 {
	position: absolute;
	overflow: visible;
	width: 164px;
	height: 48px;
	left: 1011px;
	top: 630px;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Web_1280___5.html;
	cursor: pointer;
}
#Sign_up_ {
	left: 1060px;
	top: 643px;
	position: absolute;
	overflow: visible;
	width: 67px;
	white-space: nowrap;
	text-align: center;
	font-family: Times New Roman;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#img4dummy {
	position: absolute;
	width: 169px;
	height: 34px;
	left: 996px;
	top: 687px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Web_1280___5.html;
	cursor: pointer;
}